@import "tailwindcss";

@theme {
  --font-sans: var(--font-vazir); /* فونت وزیر */
}

/* تنظیمات رنگی - فقط حالت روشن */
:root {
  --background: #ffffff; /* سفید مطلق */
  --foreground: #171717; /* متن مشکی */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
  -webkit-font-smoothing: antialiased;
}